/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200..700&family=Macondo&display=swap');

h1 {
    font-family: "macondo", cursive;
}

p {
    font-family: "inter", sans-serif;
}
